<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<br><br>
<div class="container">
    <div class="jumbotron">
        <h2 class="display-4">Thank you for your Order!</h2>
        <p class="lead">Your order will be shipped out to you shortly. Keep an eye out for a confirmation email from us.</p>
    </div>
    
</div>

<%- include('layouts/footer.ejs') %>