<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<!--checkout as guest, shipping infor should be rendered, contains user's:
first and last name, email, street address, city, state (list 50 states)-->
<!--zip, phone number, and credit card info: card type(drop down), 
name on card, 16 digit card #, expiration date(month/year), secure code(cvv)-->

 <!--Main layout-->
 <main class="mt-5 pt-4">
    <div style="margin-left: 30%;" class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2" style="margin-left: 25%">Sign up</h2>
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-8 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card content-->
            <form class="card-body" action="/sign-up" method="POST">
                <h4>User Information</h4>
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-6 mb-2">
                  <!--firstName-->
                  <div class="md-form ">
                    <input type="text" id="fname" class="form-control" name="fname" required>
                    <label for="firstName" class="">First name</label>
                  </div>
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">

                    <!--lastName-->
                    <div class="md-form">
                      <input type="text" id="lname" class="form-control" name="lname" required>
                      <label for="lastName" class="">Last name</label>
                    </div>
                  </div>
                  <!--Grid column-->
                  
                </div>
                <!--Grid row-->
                
                <!--email-->
                <div class="md-form mb-5">
                  <input type="text" id="email" class="form-control" placeholder="youremail@example.com" name="email" required>
                  <label for="email" class="">Email</label>
                </div>

                <!--Password-->
                <div class="md-form mb-5">
                  <input type="password" id="pass" class="form-control" placeholder="" name="pass" required>
                  <label for="password" class="">Password</label>
                </div>

                <!--Phone Number-->
                <div class="md-form mb-5">
                  <input type="text" id="phone" class="form-control" placeholder="" name="phone" required>
                  <label for="phone" class="">Phone Number</label>
                </div>

                <h4>Address Information</h4>
                <!--address-->
                <div class="md-form mb-5">
                  <input type="text" id="address" class="form-control" placeholder="1234 Main St" name="add1" required>
                  <label for="address" class="">Address</label>
                </div>
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">

                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" name="state" required>
                      <option value="">Choose...</option>
                      <option>Alabama</option>
                      <option>Alaska</option>
                      <option>Arizona</option>
                      <option>Arkansas</option>
                      <option>California</option>
                      <option>Colorado</option>
                      <option>Connecticut</option>
                      <option>Delaware</option>
                      <option>Florida</option>
                      <option>Georgia</option>
                      <option>Hawaii</option>
                      <option>Idaho</option>
                      <option>Illinois</option>
                      <option>Indiana</option>
                      <option>Iowa</option>
                      <option>Kansas</option>
                      <option>Kentucky</option>
                      <option>Louisiana</option>
                      <option>Maine</option>
                      <option>Maryland</option>
                      <option>Massachusetts</option>
                      <option>Michigan</option>
                      <option>Minnesota</option>
                      <option>Mississippi</option>
                      <option>Missouri</option>
                      <option>Montana</option>
                      <option>Nebraska</option>
                      <option>Nevada</option>
                      <option>New Hampshire</option>
                      <option>New Jersey</option>
                      <option>New Mexico</option>
                      <option>New York</option>
                      <option>North Carolina</option>
                      <option>North Dakota</option>
                      <option>Ohio</option>
                      <option>Oklahoma</option>
                      <option>Oregon</option>
                      <option>Pennsylvania</option>
                      <option>Rhode Island</option>
                      <option>South Carolina</option>
                      <option>South Dakota</option>
                      <option>Tennessee</option>
                      <option>Texas</option>
                      <option>Utah</option>
                      <option>Vermont</option>
                      <option>Virginia</option>
                      <option>Washington</option>
                      <option>West Virginia</option>
                      <option>Wisconsin</option>
                      <option>Wyoming</option>
                  
                    </select>
                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>

                  </div>
                  <!--Grid column-->

                  <!--Zip Code-->
                  <div class="col-lg-4 col-md-6 mb-4">

                    <label for="zip">Zip</label>
                    <input type="text" class="form-control" id="zip" placeholder="" name="zip" required>
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>

                  </div>
                  <!--City-->
                  <div class="col-lg-4 col-md-6 mb-4">

                      <label for="city">City</label>
                      <input type="text" class="form-control" id="city" placeholder="" name="city" required>
                      <div class="invalid-feedback">
                        City required.
                      </div>
    
                  </div>

                </div>
                
                <!--Grid row-->
                <div class="text-center mb-4">
                <button type="submit" class="btn white-text teal darken-4">Sign Up</button>
                </div>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

<%- include('layouts/footer.ejs') %>